.table{
    border-bottom-color: rgba(255, 255, 255, 0.05);
    color: #333;
    border: none;
    letter-spacing: 1px;
    padding: 0.3rem 1.1rem;
    font-size: 0.81rem;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid transparent !important;
}

.table td, .table th {
    border-top: 1px solid transparent !important;
}

td{
    color: #333;
}