body, html {
    background-color: #E4EDFF;
    height: 100%;
    font-family: "Poppins", sans-serif;
}

.container-fluid{
    color: #333;
    /* font-family: "Avenir Next W01", "Proxima Nova W01", "Rubik", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; */
}
