.panelCard{
    /* background-color: #323c58; */
    width: 100%;
    border-radius: 2%;
    border-radius: 6px 6px 6px 6px;
    -webkit-box-shadow: 10px 10px 28px -16px rgba(116,0,186,1);
    -moz-box-shadow: 10px 10px 28px -16px rgba(116,0,186,1);
    box-shadow: 10px 10px 28px -16px rgba(116,0,186,1);
    color: #333;
}

header{
    background-color: rgb(223, 230, 240); 
    border-radius: 2%;
    border-radius: 6px 6px 0px 0px;
}

nav{
    background-color: rgb(223, 230, 240);
    color: #333;
    /* margin-left: 20px;
    margin-right: 20px; */
}

.navbar-brand{
    /* height: 30px; */
    margin-right: -12px;
    margin-left: -12px;
    /* width: 80%; */
}

a{
    color: #303148;
    font-family: "Avenir Next W01", "Proxima Nova W01", "Rubik", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 500;
    outline: none;
    line-height: 1;
    border: 2px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 0.9rem;
    text-decoration: none;
    background-color: transparent;
}

select {
    background-color: #EEF4FF;
}

select:hover {
    background-color: #EEF4FF !important;
}

select:focus {
    background-color: #EEF4FF !important;
}

option:hover{
    background-color: #EEF4FF !important;
}

.nav-item{
    height: 35px;
}

.nav-item.dropdown{
    height: auto;
}

.dropdown-menu{
    /* width: auto !important; */
    min-width: 0px !important; 
    padding: 10px !important;
    margin-top: 5px !important;
    background-color: rgb(223, 230, 240) !important;
}

/* .dropdown-item{
    padding: 0px !important;
    margin: 0px !important;
    width: auto !important;
} */

.dropdown-item:hover{
    background-color: transparent;

}

.nav-link{
    font-size: 18px;
}

a.nav-link:hover{
    color: #333;
    font-weight: 700;
    opacity: 1;
    cursor: pointer;
}

.btn, .all-wrapper .fc-button {
    font-family: "Avenir Next W01", "Proxima Nova W01", "Rubik", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 400;
    outline: none;
    line-height: 1;
}

.btn-primary, .all-wrapper .fc-button.fc-state-active {
    color: #fff;
    background-color: #bed2e8;
    border-color: #ccd9e8;
    height: 35px;
}

.btn:active{
    background-color: #EEF4FF;
    border-color: #EEF4FF;
}

.btn:hover{
    background-color: #EEF4FF;
    border-color: #EEF4FF;
}

.btn:focus{
    background-color: #EEF4FF;
    border-color: #EEF4FF;
}

.btn-primary:focus, .btn-primary.focus {
    box-shadow: #EEF4FF;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #EEF4FF;
  border-color: #EEF4FF;
}


img.account {
    vertical-align: middle;
    border-style: none;
    height: 35px;
    width: auto;
    border-radius: 50%;
    margin-left: 10px;
}

.dropdown-menu {
    float:right;
}

@media screen and (max-width: 990px) {
    img.account {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

main{
    border-radius: 1%;
    border-radius: 0px 0px 6px 6px;
    background-color: #EEF4FF;
	border-top: 1px solid #bed2e8;
    padding: 20px 20px 60px 20px;
}

h6{
    font-weight: 700;
    line-height: 1.2;
    box-sizing: border-box;
    color: #333d59;
    border-bottom: 1px solid rgba(51, 61, 89, 0.36);
    padding-bottom: 1rem;
    position: relative;
    z-index: 1;
    padding-left: 20px;
}

h6::after{
    content: "";
    background-color: #7400BA;
    width: 20px;
    height: 7px;
    border-radius: 2px;
    display: block;
    position: absolute;
    bottom: -4px;
    left: 10px;
}

.mt-20{
    margin-top: 20px;
}

.mt-40{
    margin-top: 40px;
}

.sc-bdVaJa{
width:75px!important;
}


