.registerCard{
    background-color: #EEF4FF;
    /* max-width: 400px; */
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 2%;
    padding: 20px 15px;
    -webkit-box-shadow: 10px 10px 28px -16px rgba(116,0,186,1);
    -moz-box-shadow: 10px 10px 28px -16px rgba(116,0,186,1);
    box-shadow: 10px 10px 28px -16px rgba(116,0,186,1);
}

.mt-40{
    margin-top: 40px;
}

.logo{
    color: #fff;
    width: 60%;
    height: 100px;
}

h4, .h4 {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.2;
    display: block;
}

.registerlabel{
    color: #333;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 1rem;
    position: relative;
    z-index: 1;
    padding-left: 20px;
}

.registerlabel:after {
    content: "";
    background-color: #7400BA;
    width: 32px;
    height: 7px;
    border-radius: 2px;
    display: block;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

.mt-20{
    margin-top: 20px;
}

.register-control{
    width: 90%;
    margin-left: 20px;
    height: 50px;
    font-size: 13px;
    box-sizing: border-box;
    border: 2px solid blue;
    background-color: #E4EDFF;
    border-color: #d5dded;
    color: #333;
    font-weight: 400;
}


.register-control:focus{
    background-color: #E4EDFF;
    border-color: #bfc4cc;
    color: #333;
    font-weight: 400;
    box-shadow: none;
} 

.mt-10{
    margin-top: 10px;
}

.btn-register{
    margin-left: 20px;
    font-weight: 400;
    outline: none;
    line-height: 1;
    font-size: 0.9rem;
    color: #fff;
    background-color: #7400BA !important;
    border-color: #7400BA !important;
    margin-bottom: 50px;
    border-style: none !important;
   border: none !important;
}

.btn-register:hover {
    background-color: rgb(158, 55, 221) !important;
    border-color: #7400BA !important;
    border-style: none !important;
   border: none !important;
}

.btn-register:focus {
    background-color: rgb(158, 55, 221) !important;
    border-color: #7400BA !important;
    border-style: none !important;
   border: none !important;
}
/* 
.btn-register:visited {
    background-color: #7400BA !important;
    border-color: #7400BA !important;
    border-style: none !important;
   border: none !important;
}

.btn-register:active {
    background-color: #7400BA !important;
    border-color: #7400BA !important;
    border-style: none !important;
   border: none !important;
}

.btn-register:link {
    background-color: #7400BA !important;
    border-color: #7400BA !important;
    border-style: none !important;
   border: none !important;
}

button:active{
    border-color: #7400BA !important;
    border-style: none !important;
    border: none !important;
} */