.mt-20{
    margin-top: 20px;
}

.formCard{
    background-color: #EEF4FF;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 2%;
    padding: 20px 15px;
    -webkit-box-shadow: 10px 10px 28px -16px rgba(116,0,186,1);
    -moz-box-shadow: 10px 10px 28px -16px rgba(116,0,186,1);
    box-shadow: 10px 10px 28px -16px rgba(116,0,186,1);
}

.mt-40{
    margin-top: 40px;
}

.mt-10{
    margin-top: 10px;
}

.forgotlabel{
    color: #333;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 1rem;
    position: relative;
    z-index: 1;
    padding-left: 20px;
}

.forgotlabel:after {
    content: "";
    background-color: #7400BA;
    width: 32px;
    height: 7px;
    border-radius: 2px;
    display: block;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

.forgot-control{
    width: 90%;
    margin-left: 20px;
    height: 50px;
    font-size: 13px;
    box-sizing: border-box;
    border: 2px solid blue;
    background-color: #E4EDFF;
    border-color: #d5dded;
    color: #333;
    font-weight: 400;
}

.forgot-control::placeholder { 
    color: #333;
    opacity: 0.6;
}

.forgot-control[type=password]{
    margin-top: 10px;
}

.forgot-control:focus{
    background-color: #E4EDFF;
    border-color: #bfc4cc;
    color: #333;
    font-weight: 400;
    box-shadow: none;
} 

.btn-forgot{
    font-weight: 400;
    outline: none;
    line-height: 1;
    text-transform: none;
    margin-left: 20px;
    /* transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out; */
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    border-radius: 6px;
    margin-bottom: 50px;
    color: #fff;
    background-color: #7400BA;
    border-color: #7400BA;
}

.btn-forgot:hover {
    background-color: rgb(158, 55, 221) !important;
}

.btn-forgot:focus {
    background-color: rgb(158, 55, 221) !important;
    border-color: #7400BA !important;
    border-style: none !important;
    border: none !important;
 }