div.xbanc {
	float: left;
	background-color: #e4edff;
	width: 47.5%;
	height: 130px;
	border-radius: 1%;
	border-radius: 3px 3px 3px 3px;
	padding: 30px;
}

strong {
	color: #333;
	font-size: 0.9rem;
	/* font-weight: 600; */
	line-height: 1.5;
	text-align: left;
}

h1.xbanc {
	/* line-height: 1.2; */
	font-size: 2.5rem;
	font-weight: 300 !important;
}

div.indications {
	float: right;
	background-color: #e4edff;
	width: 47.5%;
	height: 130px;
	border-radius: 1%;
	border-radius: 3px 3px 3px 3px;
	padding: 30px;
	margin-bottom: 30px;
}
.container{
	
}
.countdown-box{
	/* padding-left:10px; */
	/* display: inline-block; */
	padding: 30px;
}
@media screen and (max-width: 468px) {
	.countdown-box{
		/* padding-left:10px; */
		display: inline-block;
		padding: 30px;
	}
}
div.count {
	clear: both;
	background-color: #e4edff;
	min-height: 240px;
	border-radius: 1%;
	border-radius: 3px 3px 3px 3px;

	/* margin-bottom: 30px; */
	overflow: auto;
	/* padding: 10px; */
	
}

.share {
	clear: both;
	background-color: #e4edff;
	border-radius: 1%;
	border-radius: 3px 3px 3px 3px;
	padding: 30px;
}

h5.alert-heading {
	color: #333;
}

p {
	color: #333;
	font-family: 'Avenir Next W01', 'Proxima Nova W01', 'Rubik', -apple-system,
		system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
		sans-serif;
	font-size: 0.9rem;
	font-weight: 400;
	line-height: 1.5;
	text-align: left;
}

.countdown-box .token-countdown .countdown-time {
	font-size: 35px;
	font-weight: 300;
}

.countdown-box .token-countdown .countdown-text {
	color: #46bdf4;
	font-size: 11px;
	font-weight: 600;
	text-transform: uppercase;
	display: block;
	line-height: 1;
}

.token-status-bar {
	background: #fff;
}
.fadeInUp {
	-webkit-animation-name: fadeInUp;
	animation-name: fadeInUp;
}
.animated {
	animation-duration: 0.6s;
	z-index: 9;
}
.token-status-bar {
	position: relative;
	height: 15px;
	border-radius: 4px;
	background: #fff;
	margin: 55px 0;
}

.token-status-percent {
	background: linear-gradient(to right, #46bdf4 0%, #2b56f5 100%);
}
.token-status-percent {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	border-radius: 3px 0 0 3px;
	background: linear-gradient(to right, #46bdf4 0%, #7a0fff 100%);
}

.token-status-point {
	position: absolute;
	font-size: 0.75em;
	transform: translateX(-50%);
	top: -35px;
	text-transform: uppercase;
}

.token-status-point::after {
	background: rgba(130, 85, 253, 0.35);
}
.token-status-point::after {
	position: absolute;
	left: 50%;
	top: calc(100% - 1px);
	height: 30px;
	width: 1px;
	content: '';
	background: rgba(130, 85, 253, 0.35);
}
*,
::after,
::before {
	box-sizing: border-box;
}
.token-status-point {
	font-size: 0.75em;
	text-transform: uppercase;
}
