.section{
    position: relative;
    float: left;
    width: 48.5%;
    background-color: #E4EDFF; 
    border-radius: 1%;
    border-radius: 3px 3px 3px 3px;
    padding: 30px;
}

.aside{
    position: relative;
    background-color: #EEF4FF;
    float: right;
    width: 48.5%;
    min-height: 600px;
    border-radius: 1%;
    border-radius: 3px 3px 3px 3px;
}

@media screen and (max-width: 1023px) {
    .section{
        position: relative;
        float: none;
        width: 100%;
        margin-bottom: 30px;
    }
    
    .aside{
        position: relative;
        float: none;
        width: 100%;
        min-height: 600px;
    }
}

