label.value{
    color: #333;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
}

.form-control.home{
    border-radius: 0rem;
    background-color: #EEF4FF;
    color: #333;
    height: 45px;
    font-size: 14px;
    border: 2px solid blue;
    border-color: #d5dded;
    font-weight: 400;
}

.form-control.home:focus{
    background-color: #EEF4FF;
    border-color: #bfc4cc;
    color: #333;
    font-weight: 400;
    box-shadow: none;
    font-size: 14px;
}

.input-group-text{
    border-radius: 0rem;
    background-color:rgb(223, 230, 240);
    border-color: #d5dded;
    color: 333;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0.375rem 0.75rem;
    margin-bottom: 0;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    white-space: nowrap;
}

.input-group-text:focus{
    background-color: red;
}    


.alert-danger {
    color: #721c24;
    background-color: #e28c8c;
    position: relative;
    padding: 0.35rem 1.25rem;
    margin-bottom: 0rem !important;
    border: 2px solid transparent;
    border-radius: 6px;
}    

.b-b{
    margin: 0.1rem !important;
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    border-collapse: separate;
    border-spacing: 15px;
}

input[type=radio]{
    margin-right: 10px;
}

.form-buttons-w {
    margin-top: 1.5rem;
    padding-top: 1rem;
    border-top: 1px solid rgba(255, 255, 255, 0.1)
}

/* .btn-buy{
    background-color: #fff;
} */

.btn-buy.disabled{
    color: #fff;
    background-color: #7400BA;
    border-color: #7400BA;
}